@page "/counter"

<h1>Contador</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-success" @onclick="IncrementCount">Aumentar</button>

<button class="btn btn-danger" @onclick="RestarCount">Restar</button>

@code {
	private int currentCount = 0;
	private int restar;

	private void IncrementCount()
	{
		currentCount++;
		
	}

	private void RestarCount()
	{
		restar = currentCount--;
		
	}
}
