@page "/todo"
@using MAUIBlazor.TodoList

<PageTitle>Todo</PageTitle>

<h2>Tareas (@todos.Count(todo => !todo.IsDone))</h2>

<input placeholder="Tarea" @bind="newTodo" />
<button class="btn btn-success" @onclick="AddTodo">Add todo</button>


<ul>
    @foreach (var todo in todos)
    {
        <li>
           <input type="checkbox" @bind="todo.IsDone" />
           
           @if(todo.IsDone)
            {
                <s>@todo.Title</s>
            }
            else
            {
                <input @bind="todo.Title" />
            }

        </li>
    }
</ul>


@code {
    private List<TodoItem> todos = new();
    private string newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}